.app-container {
  padding: 20px;
  background-color: #1D1F20ff;
  color: white;
}

.flex {
  display: flex;
}
.submit-button{
  height: 40px;
  width: 350px;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.mt-6 {
  margin-top: 1.5rem;
}

.text-xl {
  font-size: 1.25rem;
}

.font-bold {
  font-weight: bold;
}

.text-green-500 {
  color: #48bb78;
}

.watchlist-container {
  margin-top: 20px;
}

.watchlist-card {
  background-color:#1D1F20ff;
  margin : 5px;
  
  border-radius: 7px;

 
}


.header {
  cursor: pointer;
}
.blur-background {
  filter: blur(5px);
  opacity: 0.7;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 40; /* Less than the modal's z-index */
}

/* Modal container styles */
.modal-container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 50; /* Higher than the overlay */
  background: #1a202c;
  border: 1px solid #333;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
}

.grey-border {
  border: 1px solid rgb(57, 57, 57);
}

.watchlist-content {
  margin-top: 10px;
}

.create-watchlist-button {
  background-color: #1D1F20ff;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  
}

.create-watchlist-button:hover {
  background-color: #1D1F20ff;
}
.light-black{
  background-color: #1D1F20ff;
}
